AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

<Files "team15_blue-video1-root.flag">
Order Allow,Deny
Deny from all
</Files>
<Files ".htaccess">
order allow,deny
deny from all
satisfy all
</Files>
